<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addTeam">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Team
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateSoccerPlayer">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Football Player
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateCoach">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Coach
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ViewPlayers">
                <span class="oi oi-plus" aria-hidden="true"></span> View players
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ViewTeams">
                <span class="oi oi-plus" aria-hidden="true"></span> View teams
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ViewCoaches">
                <span class="oi oi-plus" aria-hidden="true"></span> View coaches
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}