@page "/"

<PageTitle>Fodbold</PageTitle>

<div>
    <h1>Amatør fodboldklub</h1>

</div>

<div>
    <img style="width: 100%" src="https://images.unsplash.com/photo-1622659097972-68f1d8c1829f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hpbGRyZW4lMjBmb290YmFsbHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="lokal fodbold"/>
</div>